:root {
  --headerHeight: 80px;
  --distToBorder: 25px;
  --boardSize: min(calc(100vh - var(--headerHeight) - 2 * var(--distToBorder)), calc(100vw) - 2 * var(--distToBorder));
  --squareSize: calc(var(--boardSize) / 8);
  --menuWidth: calc(50vw - 4 * var(--squareSize) - 2 * var(--distToBorder));
  --menuHeight: calc(var(--menuWidth) / 3 * 2);
  --buttonWidth: calc((var(--menuWidth) - 15px) / 2);
  --buttonHeight: calc((var(--menuHeight) - 25px) / 4);
  --textSize: calc(var(--buttonHeight) / 4);

  --backgroundColor: #1f1d22;
  --headerColor: #2d2a32;
  --textColor: #edebd7;
  --buttonColor: #2d2a32;
  --buttonHoverColor: #6f5d57;
  --buttonClickedColor: #e3b23c;
  --foregroundColorDark: #171619;
  --foregroundColorMiddle: #171619;
  --foregroundColorLight: #a39594;
  --color8: #B8860B;
  --color9: #8B008B;
  --color10: #2F4F4F;
  --lightSquareColor: #b58865;
  --darkSquareColor: #f0d9b9;
}

body {
  font-family: Segoe UI;
  background-color: var(--backgroundColor);
}

.header {
  height: var(--headerHeight);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align:center;
  font-size:55px;
  font-weight:100;
  color: var(--textColor);
  background-color: var(--headerColor);

}
.mainDiv {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - var(--headerHeight));
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
}

.board {
  margin: var(--distToBorder);
  width: var(--boardSize);
  height: var(--boardSize);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.blackField {
  background-color: var(--darkSquareColor);
  width: var(--squareSize);
  height: var(--squareSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.whiteField {
  background-color: var(--lightSquareColor);
  width: var(--squareSize);
  height: var(--squareSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  left: calc(50% + var(--squareSize) * 4 + var(--distToBorder));
  top: calc((100vh - var(--headerHeight) - var(--menuHeight)) / 2);
  height: var(--menuHeight);
  width: var(--menuWidth);
  padding: 5px;
  background-color: var(--foregroundColorDark);
  display: grid;
  border-radius: 10px;
  grid-gap: 5px;
}

.menuBeforeGame {
  grid-template-columns: auto auto;
}

.menuDuringGame {
  grid-template-columns: auto auto auto auto;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--textSize);
  font-weight: 400;
  color: var(--textColor);
}

.whiteText {
  grid-row: 1;
  grid-column: 1;
}

.blackText {
  grid-row: 1;
  grid-column: 2;
}

.button1 {
  border: none;
  background-color: var(--buttonColor);
  border-radius: 6px;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--textSize);
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}

.button1Hoverd {
  background-color: var(--buttonHoverColor);
  color: var(--foregroundColorDark);
}

.button1Clicked {
  background-color: var(--buttonClickedColor);
  color: var(--foregroundColorDark);
}

.whiteHumanBtn {
  grid-row: 2;
  grid-column: 1;
}

.blackHumanBtn {
  grid-row: 2;
  grid-column: 2;
}

.whiteEngineBtn {
  grid-row: 3;
  grid-column: 1;
}

.blackEngineBtn {
  grid-row: 3;
  grid-column: 2;
}

.startBtn {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.toBeginningBtn {
  grid-row: 1;
  grid-column: 1;
}

.backBtn {
  grid-row: 1;
  grid-column: 2;
}

.forwarwdBtn {
  grid-row: 1;
  grid-column: 3;
}

.toEndBtn {
  grid-row: 1;
  grid-column: 4;
}

.resignBtn {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.flipBoardBtn {
  grid-row: 5;
  grid-column-start: 3;
  grid-column-end: 5;
}

@media screen and (max-aspect-ratio: 20/13) {
  :root{
    --menuWidth: var(--boardSize);
    --menuHeight: calc(var(--boardSize) / 3 * 2);
  }

  .mainDiv {
    height: max(calc(100vh - var(--headerHeight)), calc(var(--boardSize) + 3 * var(--distToBorder) + var(--menuHeight)));
  }
  .menu {
    left: calc(50% - var(--squareSize) * 4);
    top: calc(var(--distToBorder) * 2 + var(--boardSize));
  }
}
